<html>
	<head>
		{{ include('common/headers.twig') }}
	</head>
	<body>
		{{ include('common/main_nav.twig') }}

		<div class="container dashboard_con">

			<section class="quick_create_user_section bg-light">

				<h3 class="section_header">Plan Info</h3>

                <div class="row create_plan_con">
                    <div class="col-12 col-md-12">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Name</label>
                                <input type="text" class="form-control" id="plan_name" value="{{plan.name}}" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">Type</label>
                                <select id="plan_type" class="form-control">
                                    <option value="{{plan.type}}">Choose...</option>
                                    <option value="beginner">Beginner</option>
                                    <option value="expert">Expert</option>
                                    <option value="intermediate">Intermediate</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Description</label>
                                <input type="text" class="form-control" id="plan_description" value="{{plan.description}}" placeholder="Email">
                            </div>
                        </div>

                        <button onclick="updatePlan({{plan.id}})" type="button" class="btn btn-primary">Update</button>
                    </div>
                </div>

			</section>

			<section class="quick_create_user_section bg-light">

				<h3 class="section_header">Plan Workout</h3>

                <div class="row create_plan_con">
                    <div class="col-12 col-md-12">

  
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="" disabled="true" value="Monday" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <select id="monday_workout" class="form-control">
                                    <option value="{{plan.monday}}">{{plan.monday}}</option>
                                    {% for data in workouts %}
                                    	<option value="{{data.title}}">{{data.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
  

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="" disabled="true" value="Tuesday" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <select id="tuesday_workout" class="form-control">
                                    <option value="{{plan.tuesday}}">{{plan.tuesday}}</option>
                                    {% for data in workouts %}
                                        <option value="{{data.title}}">{{data.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="" disabled="true" value="Wednesday" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <select id="wednesday_workout" class="form-control">
                                    <option value="{{plan.wednesday}}">{{plan.wednesday}}</option>
                                    {% for data in workouts %}
                                        <option value="{{data.title}}">{{data.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="" disabled="true" value="Thursday" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <select id="thursday_workout" class="form-control">
                                    <option value="{{plan.thursday}}">{{plan.thursday}}</option>
                                    {% for data in workouts %}
                                        <option value="{{data.title}}">{{data.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="" disabled="true" value="Friday" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <select id="friday_workout" class="form-control">
                                    <option value="{{plan.friday}}">{{plan.friday}}</option>
                                    {% for data in workouts %}
                                        <option value="{{data.title}}">{{data.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="" disabled="true" value="Saturday" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <select id="saturday_workout" class="form-control">
                                    <option value="{{plan.saturday}}">{{plan.saturday}}</option>
                                    {% for data in workouts %}
                                        <option value="{{data.title}}">{{data.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="" disabled="true" value="Sunday" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <select id="sunday_workout" class="form-control">
                                    <option value="{{plan.sunday}}">{{plan.sunday}}</option>
                                    {% for data in workouts %}
                                        <option value="{{data.title}}">{{data.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        

                        <button onclick="updatePlanWorkout({{plan.id}})" type="button" class="btn btn-primary">Update</button>
                    </div>
                </div>

			</section>
		</div>
	</body>
</html>