<html>
	<head>
		{{ include('common/headers.twig') }}
	</head>
	<body>
		{{ include('common/main_nav.twig') }}
		<div class="container dashboard_con">
			<section class="quick_create_user_section bg-light">

				<h3 class="section_header">Customer Info</h3>

                <div class="row create_plan_con">
                    <div class="col-12 col-md-12">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">First Name</label>
                                <input type="text" class="form-control" id="first_name" value="{{customer.first_name}}" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Last Name</label>
                                <input type="test" class="form-control" id="last_name" value="{{customer.last_name}}" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Email</label>
                                <input type="text" class="form-control" id="email" value="{{customer.email}}" placeholder="Email">
                            </div>
                        </div>
                    
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputZip">Location</label>
                                <input type="text" value="{{customer.location}}" class="form-control" id="location">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">Gender</label>
                                <select id="sex" class="form-control">
                                    <option value="{{customer.sex}}">Choose...</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>

                        <button onclick="updateUser({{customer.id}})" type="button" class="btn btn-primary">Update</button>
                    </div>
                </div>

			</section>

     

            <section class="bg-light quick_create_user_section">
				<h3 class="section_header">Customer Plan {{customers}}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for user in customer['plans'] %}
							<tr>
								<td>{{user.name}}</td>
								<td>
									<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Action
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="/customer/{{user.id}}">View</a>
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>
                           {% else %}
                            <li><em>no user has no plan</em></li>
						{% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-primary">Add Plan</button>
            </section>

            <section class="bg-light quick_create_user_section">
                <h3 class="section_header">Asign Plan to Customer</h3>

                <div>
                    <div class="form-row">
                        <div class="form-group col-md-6 assign_plan_div">
                            <select id="assign_plan_selector" class="form-control">
                                <option value="" selected>Choose...</option>
                                {% for plan in plans %}
                                    <option value="{{plan.id}}">{{plan.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12 user_asign_plan_button_con">
                            <button type="submit" onclick="assignPlan({{customer.id}})"  class="user_asign_plan_button btn btn-primary">Assign</button>
                        </div>
                    </div>
                </div>
            </section>
		</div>
	</body>
</html>